body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6fcff;
}

h3 {
    margin: 0 0 20px;
    text-align: left;
}
button{
    margin: 1%;
}

input, label {
    display:block;
    margin: 1%;
    width: 200px;
}
.formServer{
    align-items: center;
}

.message {
    margin-left: 5%;
    margin-right: 5%;
}

.grid {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.gridLists{
    width: 21%;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.grid .remove {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    color: #a94442;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 335px;
}

.form {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: left;
}

.form label {
    width: 100px;
}

.form input {
    width: 300px;
}

.form .form-group span {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    color: #5cb85c;
}

.form .form-group p {
    margin-top: 15px;
    margin-left: 200px;
    color: #a94442;
}

.form .avatar {
    height: 250px;
    float: right;
    margin-right: 25px;
}
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}