<!DOCTYPE html>
<html lang="en" ng-app="server">
<head>
    <meta charset="UTF-8">
    <title>Hello User</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/ng-grid.min.css" />
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/ng-grid-2.0.11.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js script/all.js -->
    <script src="script/login.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="loginController">
    <label>Login</label>
    <input type="text" ng-model="login" />
    <label>Password</label>
    <input type="password" ng-model="pass" />
    <button ng-click="loginFunc()">LogIn</button>


</body>
</html>