<!DOCTYPE html>
<html lang="en" ng-app="server">
<head>
    <meta charset="UTF-8">
    <title>Plains</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/ng-grid.min.css" />
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/ng-grid-2.0.11.min.js"></script>
    <script src="lib/ng-table.min.js"></script>

    <script src="script/plains.js"></script>
    <script src="script/menu.js"></script>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="lib/css/ng-table.min.css"/>

    <!-- endbuild -->
</head>
<body ng-controller="plainController">
<div class="formServer">
    <ul class="menuUl" ng-controller="menu">
        <li id="formsLi" class="menuLi" ng-class="navClass('forms')"><a href='users.html'>Users</a></li>
        <li class="menuLi" ng-class="navClass('plains')"><a href='plains.html'>Plains</a></li>
        <li class="menuLi" ng-class="navClass('records')"><a href='server.html'>Records</a></li>
        <li class="logedP" id="logedName" ng-class="navClass('logedP')">
            {{logedPerson.name}}
        </li>
        <li class="menuLiR"><button class = "logout" ng-click="logOutF()">Log out</button></li>
    </ul>
</div>
<table ng-table="plains.tableParams" class="table" show-filter="true">
    <tr ng-repeat="plain in plainData">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{plain.name}}</td>
    </tr>
</table>
<div ng-if="plainSelected">
    <table ng-table="metrics.tableParams" class="table" show-filter="true">
        <tr ng-repeat="metric in metricData">
            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                {{metric.name}}</td>
        </tr>
    </table>
</div>
</body>
</html>