<!DOCTYPE html>
<html lang="en" ng-app="server">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/ng-grid.min.css" />
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/ng-grid-2.0.11.min.js"></script>
    <script src="lib/ng-table.min.js"></script>

    <script src="script/server.js"></script>
    <script src="script/menu.js"></script>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/style.css"/>

    <!-- endbuild -->
</head>
<body ng-controller="serverController">
<div class="formServer">
    <ul class="menuUl" ng-controller="menu">
        <li id="formsLi" class="menuLi" ng-class="navClass('records')"><a href='server.html'>Main</a></li>
        <li class="menuLi" ng-class="navClass('plains')"><a href='situation.html'>Plains</a></li>
        <li class="menuLi" ng-class="navClass('users')"><a href='users.html'>Users</a></li>
        <li class="logedP" id="logedName" ng-class="navClass('logedP')">
            {{logedPerson.name}}
        </li>
        <li class="menuLiR"><button class = "logout" ng-click="logOutF()">Log out</button></li>
    </ul>
</div>
<div class="grid">
    <h1>Server Acts</h1>
    <label>Name</label>
    <input type="text" ng-model="pilot_name" name="text"/>
    <label>Plain</label>
    <input type="text" ng-model="plain" name="text"/>
    <label>Port</label>
    <input type="text" ng-model="port" name="text"/>
    <button ng-click="start()">Start</button>
    <button ng-click="stop()">Stop</button>
</div>
<div class="grid">
    <table ng-table="plains.tableParams" class="table" >
        <tr ng-repeat="plain in plainsData" >
            <td title="'Plain name'">
                {{plain.name}}
            </td>
            <td>
                <button class="button" ng-click="removePlain(plain.id)">Remove</button>
            </td>
        </tr>
        </tr>
    </table>
</div>

<div class="form">
    <label>Plain name</label>
    <input ng-model="saveNewPlainName" type="text" name="text">
    <button ng-click="savePlain()">Save Plain</button>
</div>
</body>
</html>