<!DOCTYPE html>
<html lang="en" ng-app="server">
<head>
    <meta charset="UTF-8">
    <title>Plains</title>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/css/ng-grid.min.css"/>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/news.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/ng-grid-2.0.11.min.js"></script>
    <script src="lib/ng-table.min.js"></script>

    <script src="script/server.js"></script>
    <script src="script/menu.js"></script>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- endbuild -->
</head>
<body ng-controller="serverController">
<div>
    <ul class="menuUl" ng-controller="menu">
        <li id="formsLi" class="menuLi" ng-class="navClass('records')"><a href='server.html'>Main</a></li>
        <li class="menuLi" ng-class="navClass('situation')"><a href='situation.html'>Situation</a></li>
        <li class="menuLi" ng-class="navClass('users')"><a href='users.html'>Users</a></li>
        <li class="logedP" id="logedName" ng-class="navClass('logedP')">
            {{logedPerson.name}}
        </li>
        <button class="menuLiR" id="logOutButton" ng-click="logout()">Log Out</button>
    </ul>
</div>
<div  ng-controller="serverController">
    <div class="grid">
        <div class="content" ng-repeat="user in usersData" ng-click="getUsersRecords(user.id)">
            <div class="topic">{{user.name}}</div>
            <div class="topic">{{user.role}}</div>
            <button id="removeB" class="button" ng-click="removeUser(user.id)">Remove</button>
            <button id="editB" class="button" ng-click="editUser(user.id)">Edit</button>
        </div>
    </div>
    <div class="grid">
        <table ng-table="records.tableParams" class="table">
            <tr ng-repeat="s in recordsData">
                <td title="'User'">
                    {{s.user.name}}
                </td>
                <td title="'Date'">
                    {{s.date | date:'dd/MM/yyyy'}}
                </td>
                <td title="'Situation'">
                    {{s.situation.name}}
                </td>
                <td title="'Plain model'">
                    {{s.plains.name}}
                </td>
                <td title="'Metric results'">
                    {{s.simData}}
                </td>
                <td>
                    <button class="button" ng-click="deleteRecordF(record.id)">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="form">
    <label>NEW USER</label>
    <form>
        <label for="name">Name</label>
        <input ng-model="saveUserName" type="text" name="text" id="name"><br>
        <label for="login">Login</label>
        <input ng-model="saveUserLogin" type="text" name="text" id="login"><br>
        <label for="password">Password</label>
        <input ng-model="saveUserPassword" type="text" name="text" id="password"><br>
        <select>
            <option ng-model="saveUserRole" value="Administrator">Administrator</option>
            <option ng-model="saveUserRole" value="Pilot">Pilot</option>
            <option ng-model="saveUserRole" value="Instructor">Instructor</option>
        </select><br>
        <button ng-click="saveUser()">Save user</button>
        <br>
    </form>
</div>
</body>
</html>